@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.menus {
    margin-top: 10px;
    position: fixed;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    background-image: linear-gradient(180deg, lightgray, rgb(174,102,31));
    color: white;
    height: 50px;
    width: calc(min(100%, 1400px));
    border-radius: 60px;
    font-weight: bold;
}

.icon {
    font-size:28px !important;
    cursor: pointer;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: white;
}

.menuText {
    font-size: 1em;
    cursor: pointer;
    display: none;
}

.menu {
    display: grid;
    grid-template-columns: 35px auto;
    color: rgba(255, 255, 255, 0.815);
    align-items: center;
    text-decoration: none;
    margin:auto;
}

.menu:hover,
.menu:hover .icon {
    color: rgb(255, 238, 0);
    -webkit-text-fill-color: rgb(255, 238, 0);
    font-size: 1.5em;
}

.menu:active,
.menu:active .icon {
    color: rgb(251, 3, 3);
    -webkit-text-fill-color: rgb(251, 3, 3);
}

.selected,
.selected .icon {
    color: rgb(129, 64, 0) !important;
    -webkit-text-fill-color: rgb(129, 64, 0) !important;;
    font-size: 1.3em !important;
}

.menuBuffer {
    height: 50px;
}

@media screen and (min-width:1100px) {
    .menuText {
        display: inline;
    }
}